<div class="container">
    <div *ngIf="vivienda" class="col-sm-10 mt-5">
        <div class="d-flex justify-content-evenly align-items-start flex-wrap">
          <div class="card mb-4" style="width: 50rem;">
            <img 
            *ngIf="vivienda.photoHashCode else elseBlock"  
            [src]="'http://localhost:8080/viviendas/photo/' + vivienda.id + '?photoHashCode=' + vivienda.photoHashCode" 
            style="height: 33rem;" class="card-img-top" alt="House picture">
          <ng-template #elseBlock>
            <img *ngIf="!vivienda.photoHashCode" [src]="'/assets/images/default.png'" style="height: 33rem;" class="card-img-top" alt="House picture">
          </ng-template>
            <div class="card-body">
              <h5 class="card-title mb-2 text-primary">Precio: <span style="color: grey;">{{ vivienda.price }}€</span></h5>
              <p class="card-text my-1 text-primary">Ciudad: <span style="color: grey;">{{ vivienda.city }}</span></p>
              <p class="card-text my-1 text-primary">Calle: <span style="color: grey;">{{ vivienda.street }}</span></p>
              <p class="card-text my-1 text-primary">Metros: <span style="color: grey;">{{ vivienda.meters }}</span></p>
              <p class="card-text my-1 text-primary">Habitaciones: <span style="color: grey;">{{ vivienda.bedrooms}}</span></p>
              <p class="card-text my-1 text-primary">Aseos: <span style="color: grey;">{{ vivienda.restrooms }}</span></p>
              <a [routerLink]="['/form-viviendas/', vivienda.id]" class="btn btn-primary mt-2">Actualizar vivienda</a>
            </div>
          </div>
        </div>
      </div>
</div>
